<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="/static/js/html5shiv.min.js"></script><![endif]-->
	<title>Просмотр комментариев - Демиденко Я.В. тестовое задание</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

	<header class="header">
		Комментарии
	</header>

	<main class="content">
    <ul class="menu">
      <li class="menu_item"><a href="/comment/">Добавление комментария</a></li>
      <li class="menu_item"><a href="/view/">Просмотр комментариев</a></li>
      <li class="menu_item"><a href="/stat/">Статистика</a></li>
    </ul>
    <h1>Просмотр комментариев</h1>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Текст</th>
          <th>Отчество</th>
          <th>Телефон</th>
          <th>Email</th>
          <th>Город</th>
          <th>Удаление</th>
        </tr>
      </thead>
      <tbody>
        {% each comments %}
          <tr>
            <td data-label="id">{{ it.id }}</td>
            <td data-label="Имя">{{ it.first_name }}</td>
            <td data-label="Фамилия">{{ it.last_name }}</td>
            <td data-label="Текст">{{ it.text }}</td>
            <td data-label="Отчество">{{ it.middle_name }}</td>
            <td data-label="Телефон">{{ it.phone }}</td>
            <td data-label="Email">{{ it.email }}</td>
            <td data-label="Город">{{ it.city_title }}</td>
            <td data-label="Удаление">
              <a href="" class="delete_comment" data-id="{{ it.id }}">Удалить</a>
            </td>
          </tr>
        {% end %}
      </tbody>
    </table>
	</main>

</div>

<footer class="footer">
	© Ярослав Демиденко, 2017 - н.в.
</footer>

<script src="/static/js/script.js"></script>

</body>
</html>