<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="/static/js/html5shiv.min.js"></script><![endif]-->
	<title>Статистика - Демиденко Я.В. тестовое задание</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

	<header class="header">
		Комментарии
	</header>

	<main class="content">
    <ul class="menu">
      <li class="menu_item"><a href="/comment/">Добавление комментария</a></li>
      <li class="menu_item"><a href="/view/">Просмотр комментариев</a></li>
      <li class="menu_item"><a href="/stat/">Статистика</a></li>
    </ul>
    <h1>Статистика</h1>
    {% if cities %}
      <a href="/stat/">&larr; Вернуться на статистику по регионам</a>
    {% end %}
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Название</th>
          <th>Количество комментариев</th>
        </tr>
      </thead>
      <tbody>
        {% if regions %}
          {% each regions %}
            <tr class="row_as_link" data-href="?region={{ it.id }}">
              <td data-label="id">{{ it.id }}</td>
              <td data-label="Название">{{ it.title }}</td>
              <td data-label="Количество комментариев">{{ it.comments_count }}</td>
            </tr>
          {% end %}
        {% end %}
        {% if cities %}
          {% each cities %}
            <tr>
              <td data-label="id">{{ it.id }}</td>
              <td data-label="Название">{{ it.title }}</td>
              <td data-label="Количество комментариев">{{ it.comments_count }}</td>
            </tr>
          {% end %}
        {% end %}
      </tbody>
    </table>
	</main>

</div>

<footer class="footer">
	© Ярослав Демиденко, 2017 - н.в.
</footer>

<script src="/static/js/script.js"></script>

</body>
</html>